* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: transparent; */
}

body {
    width: 100%;
    height: 100vh;
    background: #433520;
    color: #fff;
    overflow: hidden;
    overflow-y: scroll;
}

.forallBG {
    height: 100%;
    width: 100%;
    position: relative;
    /* box-shadow: 5px 6px 10px rgba(0, 0, 0, .40); */
    z-index: 1;
}
.forallBG:before {
     background: url(../../portfolio/src/assets/forallBG.jpg) no-repeat center center;
    height: 100%;
    width: 100%;
    background-size: cover !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
    z-index: -1;
}
.forallBG:after {
    background: rgb(67 53 32 / 95%);
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.wrap {
    width: 90%;
    max-width: 100%;
    margin: auto;
}
/* all transition */
#sport-holder .sport-container li,
.NavMenu .NavMenuListItem:before,
.contact-form-holder > form input:last-of-type {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.navbar .portfolio-logo > img,
.Aboutme-Holder .textAboutme p:last-child a,
.Aboutme-Holder .About-ImgHolder img,
.img-holder img,
.img-holder img,
.Aboutme-Header h1:before,
.header-holder h1:before,
.Gallery-container h1:before,
.mySport-box-holder h3:before,
.isScroll .navbar {
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.Service-container .col-3 > .box-holder > .box-logo:before,
.Service-container .col-3 > .box-holder > .box-logo:after,
.Service-container .col-3 > .box-holder > .box-logo .logo,
.Service-container .col-3 > .box-holder > .box-logo .logo:before {
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s;
}

/* for global */
h1, h2, h3, h4, h5 {
    text-shadow: 0 3px 6px rgba(23, 239, 29, 0.4) !important;
    margin: 0 !important;
    line-height: 1.3;
}
h1 {
    font-size: 50px !important;
}
h2 {
    font-size: 45px !important;
}
h3 {
    font-size: 40px !important;
    margin: 0 !important;
    line-height: 1.75 !important;
}
h4 {
    font-size: 35px !important;
}
.Aboutme-Holder .About-ImgHolder img:before,
.Aboutme-Holder .textAboutme p:last-child a:before,
.Service-container .col-3 > .box-holder:before,
.forallBG:before,
.forallBG:after,
.navbar .portfolio-logo:before,
.Service-container .col-3 > .box-holder > .box-logo:before,
.Service-container .col-3 > .box-holder > .box-logo:after,
.Service-container .col-3 > .box-holder > .box-logo .logo:before,
.Chess-box-holder:before,
.basket-box-holder:before,
.Aboutme-Holder .textAboutme p:last-child:before,
.Aboutme-Holder .textAboutme p:last-child:after,
.Service-container .col-3 > .box-holder > .box-content h4:before,
.NavMenu .NavMenuListItem:before,
.Aboutme-Holder .textAboutme:before,
.Aboutme-Holder .textAboutme:after,
.Aboutme-Header h1:before,
.Aboutme-Header h1:after,
.header-holder h1:before,
.header-holder h1:after,
.Gallery-container h1:before,
.Gallery-container h1:after,
.Gallery-container:before,
.mySport-box-holder h3:before {
    content: '';
    position: absolute;
    display: inline-block;
}

/* other form  */



